.user-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    align-items: center;
    padding: 10px;
    background: var(--l_color);
    border-radius: 10px;
}

.user-sphere {
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: rgb(128, 128, 128);
    background: linear-gradient(90deg, rgba(128, 128, 128, 1) 0%, rgba(64, 64, 64, 1) 100%);

    img {
        height: 24px;
        width: 24px;
        /* color: white; */
        filter: invert(100%);
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-name {
    font-size: 17px;
    font-weight: 600;
    margin-right: 35px;
}

.user-expires-days {
    font-size: 14px;
    font-weight: 400;
}

#logout-btn {
    background: var(--red);
}

.key-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    background: var(--l_color);
    color: rgb(255 255 255 / 78%);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;


    .svg-icon {
        filter: invert();
        opacity: 0.8;
    }
}